pkgbase = greptimedb-bin
	pkgdesc = Open-source time-series database.
	pkgver = 0.1.2.v0.1.2
	pkgrel = 1
	url = https://github.com/GreptimeTeam/greptimedb
	arch = x86_64
	license = Apache-2.0
	provides = greptimedb
	source = greptime-linux-amd64-0.1.0.20230207.tgz::https://github.com/GreptimeTeam/greptimedb/releases/download/v0.1.2/greptime-linux-amd64.tgz
	source = greptimedb.sysusers
	source = greptimedb.service
	source = greptimedb-tmpfile.conf
	source = greptimedb.toml
	sha256sums = 767328499d5217b6e8f1e5ade7519fc1c81a00e45bf1c17e8fb034ecff00e347
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = greptimedb-bin
