pkgbase = greptimedb-bin
	pkgdesc = Open-source time-series database.
	pkgver = 0.10.0.20241007
	pkgrel = 1
	url = https://github.com/GreptimeTeam/greptimedb
	arch = x86_64
	license = Apache-2.0
	provides = greptimedb
	source = https://github.com/GreptimeTeam/greptimedb/releases/download/v0.10.0-nightly-20241007/greptime-linux-amd64-v0.10.0-nightly-20241007.tar.gz
	source = greptimedb.sysusers
	source = greptimedb.service
	source = greptimedb-tmpfile.conf
	source = greptimedb.toml
	sha256sums = 1fc80ec6ac6de975267235da75de7860dcdddb7592355253c9eb3dd86914c2e6
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = greptimedb-bin
