pkgbase = greptimedb-bin
	pkgdesc = Open-source time-series database.
	pkgver = 0.9.0.20240527
	pkgrel = 1
	url = https://github.com/GreptimeTeam/greptimedb
	arch = x86_64
	license = Apache-2.0
	provides = greptimedb
	source = https://github.com/GreptimeTeam/greptimedb/releases/download/v0.9.0-nightly-20240527/greptime-linux-amd64-v0.9.0-nightly-20240527.tar.gz
	source = greptimedb.sysusers
	source = greptimedb.service
	source = greptimedb-tmpfile.conf
	source = greptimedb.toml
	sha256sums = 67e48637ff1c85e6ec4e6d238da3cae11f60d764a57baa8ed0c64ea4357db10d
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = greptimedb-bin
